<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave</name>
  <description>Slave machine </description>
  <remoteFS>/home/ec2-user</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.0">
    <host>172.31.34.106</host>
    <port>22</port>
    <credentialsId>user</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyProvidedKeyVerificationStrategy">
      <key>
        <algorithm>ssh-rsa</algorithm>
        <key>AAAAB3NzaC1yc2EAAAADAQABAAABAQC7BSg1xO2cTUtnBhqX+fUMp3Fm2NlCjkbmVyZSXotw6yP1
vy/aACxrTEzl5CVLtXvAnHsWEgErjje0zK8mZCU7H1LacZGHxhrBrJSLfzbHxrNwTsTq6VGxyVkK
QxzNuvTMW8QeOaLLpqYEt6WkX6u9AxfQD2GACnLk1Zv/U5fuuLWuaIEcr2ufV3sKDi1GWPapGa46
56Wt09qXPgduxRRaatteloinR4W1N08EaXunfFmyNZ620hUZAbDXRC0TQeZDYm14V87/RQlQQ7V6
HanzV0fsny7CR/T78MpECGKZTUYOiLMKPgeuJesGrguo6AAGxKPokJvLb70mWByLAbLt</key>
      </key>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>lable1</label>
  <nodeProperties/>
</slave>